.title
{
    margin-left: 16px;
    margin-top: 70px;
    margin-bottom: 20px;
}

.body
{
    margin-top: 8px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 8px;
}

.body-container
{
    border-radius: var(--fds-overlay-corner-radius);
    background: var(--fds-layer-background-default);
    border: var(--fds-control-border-default);
    box-shadow: var(--fds-card-shadow);
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.textBody
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.extra
{
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 20px;
}